 .card h1::after{position: absolute;
    content: "";
    margin-top: 17px;
    margin-left: 10px;
    display: inline-block;
    width: 70px;
    height: 2px;
    background-color: black}


    .total h1::after{position: absolute;
        content: "";
        margin-top: 23px;
        margin-left: 220px;
        display: inline-block;
        width: 70px;
        height: 2.5px;
        background-color: black}