.input{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 500px;
    border: 1px solid #ccc;
    border-radius: 5px;
    border-radius: 20px;
}
.input input{
    width: 400px;
    height: 40px;
    padding: 10px;
    border-radius: 5px;
    outline: none;
}
.input button{
    width: 100px;
    height: 40px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.3s;
}
 
 
.end .box{
    cursor: pointer;
}